<%= form_for(@request) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :requestor_name %><br />
    <%= f.text_field :requestor_name %>
  </div>
  <br/>
  <div class="field">
    <%= f.label :blog_url %><br />
    <%= f.text_field :blog_url %>
  </div>
  <br/><br/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
